<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.palladiosimulator.textual.commons.generator.fragment" name="org.palladiosimulator.textual.commons.generator.fragment" schema="schema/org.palladiosimulator.textual.commons.generator.fragment.exsd"/>

</plugin>
