<repository location="http://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
<repository location="http://updatesite.palladio-simulator.com/palladio-core-commons/branches/release5.2.0/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/branches/release5.2.0/"/>
