<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.palladiosimulator.textual Target Platform" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="2.1.0.201611171324"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="2.1.0.201611171324"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release" refresh="true">
<unit id="org.palladiosimulator.pcm.feature.feature.group" version="4.1.0.201709282114"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly" refresh="true">
<unit id="org.palladiosimulator.pcm.feature.feature.group" version="4.1.0.201709282114"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" refresh="true">
<repository location="http://download.eclipse.org/releases/2019-09/201909181001"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="4.13.0.v20190916-1323"/>
</location>
</locations>
</target>
