<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://TPCM_RESOURCES_STD/"
            target="platform:/resource/org.palladiosimulator.textual.tpcm.resources/models/">
      </mapping>
   </extension>

</plugin>
